@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  font-size: 1.25rem;
  color: #0a0a23;
  font-style: italic;
  font-weight: bold;

  .navigation__logo {
    display: flex;

    &-icon {
      font-size: 1.5rem;
      text-align: center;
      color: darkmagenta;

    }
    h2 {
      font-size: 1.25rem;
      font-family: "Dancing Script", cursive;
      color: #0a0a23;
    }
  }

  .nav {
    display: flex;
    padding: 5px;
    

    a {
      margin: 0 20px;
      font-size: 1em;
      text-decoration: none;
      flex-grow: 1;
      position: relative;
      color: #0a0a23;

      &:hover {
        color: darkmagenta;
      }
    }
  }
    .nav__basket {
        display: block;
        text-align: center;
        border-style: solid;
        border-color: #6c6c6c;
        border-width: 2px;
        border-radius: 6px;
        padding: 10px;
  
        .basketicon {
          font-size: 20px;
          color: darkmagenta;
        }
        span {
          margin-left: 5px;
        }
      }

      .logout {
        

        &__button {
          border-radius: 6px;
          border: none;
          cursor: pointer;
          font-size: 12px;
        }
      }
    
    }


@media screen and (max-width: 500px) {
  .navigation {
    float: none;
    display: block;
    text-align: left;

    .navigation__logo {
      text-align: center;
    }
  }
}
