.form {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;

  &__control {
    margin-bottom: 0.5rem;

    label {
      color: white;
      padding-right: 10px;
    }
  }
  &__actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      cursor: pointer;
      font: inherit;
      color: white;
      background-color: #9f5ccc;
      border: 1px solid #9f5ccc;
      border-radius: 4px;
      padding: 10px;
    }
  }
}
