.footer {
  width: 100%;
  height: 100px;

    .iconbox{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 5px;

        &-truck {
            border-color: gray;
            border-radius: 6px;
            border-style: solid;
            padding: 30px;
            background-color: #E8E8E8;

            span {
                padding-left: 10px;
            }
        }
        &-shield {
          color: green;
          border-color: gray;
          border-radius: 6px;
          border-style: solid;
          padding: 30px;
          background-color: #E8E8E8;

          span {
            padding-left: 10px;
          }
        }
        &-phone {
            border-color: gray;
            border-radius: 6px;
            border-style: solid;
            padding: 30px;
            background-color: #E8E8E8;
            
         span {
            padding-left: 20px;
         }
        }
    }

}