.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #38015c;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;

  h1 {
    color: white;
  }
  &__form {


     &-email {
             
        label {
            display: block;
            color: white;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
     }
     &-password {

        label {
            display: block;
            color: white;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
     }
     
     .auth__form-buttons {
       
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &1 {
            cursor: pointer;
            font: inherit;
            color: white;
            background-color: #9f5ccc;
            border: 1px solid #9f5ccc;
            border-radius: 4px;
            padding: 10px;
         }
         &2 {
            cursor: pointer;
            font: inherit;
            color: white;
            background-color: #9f5ccc;
            border: 1px solid #9f5ccc;
            border-radius: 4px;
            padding: 10px;
         }
     }
    
  }
 }
